<p>
  <mat-toolbar color="primary">
    <img
    alt="Nx logo"
    width="75"
    src="assets/client.svg"
  />
<mat-toolbar-row>
  <a  routerLink="/products" mat-flat-button color="secondary" routerLinkActive> Products </a>
  <a  routerLink="/users" mat-flat-button color="secondary"> Users </a>
</mat-toolbar-row>
   </mat-toolbar>
  </p>

<main>
  <p>Thank you for showing some ♥ for Our store.</p>
  <div class="flex github-star-container">
    <router-outlet></router-outlet>
  </div>
</main>



